.g-create {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  .m-create {
    width: 1000px;
    display: flex;
    align-items: center;
    flex-flow: column;
    .m-step {
      width: 80%;
      margin-bottom: 50px;
    }
    .m-passwd {
      font-size: 30px;
      cursor: pointer;
      color: #1890ff;
      margin-bottom: 20px;
    }
    .m-intro {
      margin-top: 20px;
      width: 80%;
      .u-poem {
        font-size: 30px;
        font-family: 'STXingkai';
        margin-bottom: 20px;
      }
      .u-poet {
        font-size: 25px;
        font-family: 'STXingkai';
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
      }
      .u-intro {
        font-size: 16px;
        text-indent: 2em;
      }
      .u-hint {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 600;
        color: red;
      }
    }
  }
}
