.g-result {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  img {
    width: 130px;
    height: 130px;
  }
  h3 {
    font-weight: 700;
    font-size: 20px;
    color: #424a5e;
    line-height: 50px;
    padding: 0 0 10px 0;
    margin-bottom: 30px;
    position: relative;
    em {
      position: absolute;
      bottom: 20%;
      left: 0;
      width: 40px;
      height: 2px;
      background-color: #0066ff;
    }
  }
  .m-result {
    width: 85%;
    display: flex;
    align-items: center;
    flex-flow: column;
    .m-step {
      width: 80%;
      margin-bottom: 70px;
    }
    .m-title {
      display: flex;
      width: 55%;
      margin-bottom: 50px;
      justify-content: space-around;
      .u-title {
        display: flex;
        align-items: center;
        font-size: 22px;
      }
    }
    .m-content {
      width: 80%;
      margin-bottom: 30px;
      .u-content {
        .ant-timeline-item{
            font-size: 18px !important;
            padding-bottom: 22px !important;
            font-weight: 600;
        }
      }
    }
  }
}
